.gridToolbar {
  color: #41a24d !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #41a24d !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin-bottom: 0rem !important;
}

.grid-table {
  height: 1100;
  width: 1050;
}

.box {
  background-color: gray;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.ok {
  background-color: green;
}

.ng {
  background-color: red;
}

.container {
  display: flex;
  margin-right: 1px !important;
}

.mRight {
  margin-right: 30px;
}

.control-painel {
  margin-bottom: 2%;
}
