/* Estilo para a barra de ferramentas da grid */
.gridToolbar {
  color: #41a24d !important;
}

/* Estilo para botões na grid */
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #41a24d !important;
}

/* Estilo para a barra de paginação da grid */
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin-bottom: 0rem !important;
}

/* Estilo básico para a tabela da grid */
.grid-table {
  height: 570px;
  width: 100%;
}

/* Estilo básico para os ícones */
.box {
  font-family: 'Material Icons';
  content: "face";
  background-color: gray;
  margin-left: 10px;
  width: 60px;
  height: 60px;
}


/* Estilo para o container principal */
.container {
  display: flex;
  margin-right: 1px !important;
  width: 25%;
}

/* Estilo para grupos de itens */
.group {
  display: flex;
  flex-wrap: wrap !important;
  border: 1px solid rgb(180, 27, 27);
  width: 324px;
}

/* Estilo para o painel de controle */
.control-painel {
  margin-bottom: 2%;
}

/* Container para alinhar ícones de status */
.status-icon-container {
  position: relative;
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Estilos básicos para ícones de status */
.status-icon {
  position: absolute;
  margin-bottom: 10px;
  margin-right: 20%;
  width: 52px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s;
}

.station-map {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.css-6dsfua-MuiGrid2-root {
  --Grid-columnSpacing: 25% !important;
}

.line-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Efeito hover opcional para melhor visualização */
.status-icon:hover {
  opacity: 0.8;
}

/* Estilos básicos para a tabela */
.truth-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilos para células e cabeçalhos */
.truth-table th, .truth-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.truth-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Efeito hover para a tabela */
.truth-table tr:hover {
  background-color: #e2e2e2;
}


/* Título para as linhas */
.line-title {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
