.container {
    padding: 40px;
    background-color: #f0f2f5;
  }
  
  .line-container {
    display: flex;
    justify-content: space-between;
  }
  
  .card-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;  /* Two columns */
    gap: 8px !important;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .computer-icon {
    font-size: 24px !important;
    color: #389E0D !important;
    margin-right: 8px !important;
  }
  
  .add-icon {
    font-size: 24px;
    color: #d9d9d9;
  }
  