.container {
  /* padding: 10px; */
  background-color: #f0f2f5;
  position: relative; /* Para que o botão possa ser posicionado dentro desse container */
  margin-top: -43px !important;
}

h1 {
  margin-top: 14px !important;
  font-size: 24px !important; /* Define o tamanho da fonte para 24 pixels */
}


.container-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f2f5;
  font-family: "Roboto", sans-serif;
  position: relative; /* Para que o botão possa ser posicionado dentro desse container */
}

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.card-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 8px !important;
}

.icon-container {
  display: flex;
  align-items: center;
}


.add-button-container {
  display: flex;
  margin-top: 10px;
  margin-right: 4px;
  height: 32px;
  border-radius: 0;
  border: 2px solid #389e0d !important; /* Define uma borda azul */
  color: #389e0d !important; /* Define a cor do texto como azul */
  transition: background-color 0.3s ease; /* Adiciona transição suave */
  width: 129px;
}

.remove-button-container{
  display: flex;
  margin-top: 10px;
  margin-right: 4px;
  height: 32px;
  border-radius: 0;
  border: 2px solid red !important; /* Define uma borda azul */
  color: red !important; /* Define a cor do texto como azul */
  transition: background-color 0.3s ease; /* Adiciona transição suave */
  width: 129px;
}

.enable-button-container{
  display: flex;
  margin-top: 10px;
  margin-right: 4px;
  height: 32px;
  border-radius: 0;
  border: 2px solid red !important; /* Define uma borda azul */
  color: #389e0d !important; /* Define a cor do texto como azul */
  transition: background-color 0.3s ease; /* Adiciona transição suave */
  width: 129px;
}
.notification-icon-fixed {
  position: fixed;
  bottom: 78%;
  right: 13%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Estilo básico para o Snackbar semelhante ao Ant Design */
.ant-snackbar {
  font-family: "Roboto", sans-serif;
  color: #595959;
  border-radius: 4px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  padding: 0; /* Remover padding extra */
  margin: 0; /* Remover margens */
  max-width: 400px; /* Largura máxima */
}

/* Estilos para severidade 'success' */
.ant-snackbar-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f; /* Borda geral */
  position: relative; /* Necessário para a borda esquerda */
}

/* Adiciona borda esquerda */
.ant-snackbar-success::before {
  content: "";
  position: absolute;
  left: 0; /* Alinhado à esquerda */
  top: 0;
  bottom: 0;
  width: 4px; /* Largura da borda */
  background-color: #4caf50; /* Verde escuro */
  border-radius: 4px 0 0 4px; /* Bordas arredondadas apenas do lado esquerdo */
}

/* Estilos para severidade 'error' */
.ant-snackbar-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}

/* Estilos para o Alert dentro do Snackbar */
.ant-alert {
  background-color: inherit;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Ajuste fino de padding */
  border-radius: 4px;
}

/* Posicionamento fixo no topo à direita */
.snackbar-position {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
}



.white-background-button {
  background-color: white !important; /* Fundo branco */
  border: none !important; /* Remove as bordas */
  color: #bfbfbf; /* Cor do ícone ou texto */
}

.white-background-button:hover {
  background-color: #f0f0f0 !important; /* Cor de fundo no hover */
}

.no-border {
  box-shadow: none !important; /* Remove a sombra (caso tenha) */
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-btn.ant-btn-round.ant-btn-sm {
  border-radius: 24px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  width: 15px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {  
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}

.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.body .card, 
.body .card-header, 
.body .card-body {
  border: none; /* Remove as bordas */
  box-shadow: none; /* Remove sombras (se aplicável) */
  background-color: white;
}

input[type=radio]#Red {
  accent-color: #4caf50;
}
