.container {
  padding: 40px;
  background-color: #f0f2f5;
  position: relative; /* Para que o botão possa ser posicionado dentro desse container */
}

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.card-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 8px !important;
}

.icon-container {
  display: flex;
  align-items: center;
}

.computer-icon {
  font-size: 24px !important;
  color: #389E0D !important;
  margin-right: 8px !important;
}

.add-icon {
  font-size: 24px;
  color: #d9d9d9;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-icon-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Certifica que o botão fique acima de outros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.delete-icon-fixed {
  position: fixed;
  bottom: 85px;
  right: 20px;
  z-index: 1000; /* Certifica que o botão fique acima de outros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.notification-icon-fixed {
  position: fixed;
  bottom: 78%;
  right: 13%;
  z-index: 1000;
  transition: background-color 0.3s ease;

}

.add-icon-fixed:hover {
  background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}

/* Estilo básico para o Snackbar semelhante ao Ant Design */
.ant-snackbar {
  font-family: 'Roboto', sans-serif;
  color: #595959;
  border-radius: 4px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  padding: 0; /* Remover padding extra */
  margin: 0; /* Remover margens */
  max-width: 400px; /* Largura máxima */
}

/* Estilos para severidade 'success' */
.ant-snackbar-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f; /* Borda geral */
  position: relative; /* Necessário para a borda esquerda */
}

/* Adiciona borda esquerda */
.ant-snackbar-success::before {
  content: '';
  position: absolute;
  left: 0; /* Alinhado à esquerda */
  top: 0;
  bottom: 0;
  width: 4px; /* Largura da borda */
  background-color: #4caf50; /* Verde escuro */
  border-radius: 4px 0 0 4px; /* Bordas arredondadas apenas do lado esquerdo */
}

/* Estilos para severidade 'error' */
.ant-snackbar-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}

/* Estilos para o Alert dentro do Snackbar */
.ant-alert {
  background-color: inherit;
  color: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Ajuste fino de padding */
  border-radius: 4px;
}

/* Posicionamento fixo no topo à direita */
.snackbar-position {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
}
