.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.line-container .esd-line-container .card {
  border: none !important;
  box-shadow: none !important;
}

.line-content {
  display: flex;
  align-items: flex-start;
}

.add-button-container-stations {
  margin-right: auto;
}

.esd-line-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px; 
  width: 100%;
}


.station-card {
  display: flex !important;
  flex-direction: column; 
  align-items: center;
}

.button-for-edit {
  padding: 10px;
  min-width: 120px;
  height: fit-content;
  margin-right: 10px; 
}

.stations-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row !important;
}


.esd-line-container .station {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px; 
  height: 150px; 
}

.radio-button {
  margin-left: -15px;
  
}

.add-button-container-stations {
  display: flex; 
  align-items: center;
}

.no-border {
  border: none;
}

.add-button-container button {
  margin-left: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #4caf50;
}

input[type="radio"] {
  margin-left: 10px;
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none;
}

.delete-button.show {
  display: block;
}

.delete-button:hover {
  background-color: #d93600;
}

input[type=radio]#Red {
  accent-color: #4caf50;
}

.container {
  background-color: white !important;

  right: 17px;
}


.color-button{
  color: #389e0d !important;
}


.stations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.station-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}