.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative; 
  border: none !important; /* Remove a borda */
  box-shadow: none !important; /* Remove qualquer sombra padrão */
}

/* Remove a borda do card */
.line-container .esd-line-container .card {
  border: none !important; /* Remove a borda */
  box-shadow: none !important; /* Remove qualquer sombra padrão */
}



.esd-line-container {
  display: flex;
  flex-wrap: wrap; /* Permite que as estações se reorganizem em várias linhas */
  justify-content: center; /* Centraliza as estações */
  gap: 20px; /* Espaçamento entre as estações */
  margin-bottom: 20px; /* Margem inferior para espaçamento */
}

.radio-button {
  position: absolute;
  top: 10px; /* Coloca no topo */
  left: 10px; /* Alinha à esquerda */
}

.add-button-container {
  position: absolute;
  top: 50%; /* Coloca o botão no meio da altura */
  right: 10px; /* Alinha à direita */
  transform: translateY(-50%); /* Centraliza verticalmente */
}


button {
  padding: 10px 20px; /* Estilo do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove bordas do botão */
  border-radius: 4px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

button:disabled {
  background-color: #ccc; /* Cor de fundo para o botão desativado */
  cursor: not-allowed; /* Cursor de não permitido */
}

button:hover:not(:disabled) {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

input[type="radio"] {
  margin-left: 10px; /* Margem para o botão de seleção */
}

.delete-button {
  position: absolute; /* Permite que o botão fique no canto superior direito */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  background-color: #ff4d4f; /* Cor de fundo para o botão de excluir */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 4px; /* Arredonda os cantos */
  padding: 8px 12px; /* Estilo do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
  display: none; /* Inicialmente oculta */
}

.delete-button.show {
  display: block; /* Mostra o botão quando a classe 'show' é adicionada */
}

.delete-button:hover {
  background-color: #d93600; /* Cor ao passar o mouse */
}