.line-container {
  display: flex;
  flex-direction: column; /* Mantenha a direção da coluna para o contêiner principal */
  align-items: center; /* Centraliza os itens dentro do contêiner */
  margin: 20px;
  padding: 10px;
  border: none !important;
  border-radius: 8px;
  position: relative;
  box-shadow: none !important;
  /* border: solid red 2px !important;  */
}

/* Remove a borda do card */
.line-container .esd-line-container .card {
  border: none !important; /* Remove a borda */
  box-shadow: none !important; /* Remove qualquer sombra padrão */
  /* border: solid blue 2px !important;  */
}

.line-content {
  display: flex;
  align-items: flex-start; /* Alinha os itens no início do eixo vertical */
}

.add-button-container-stations {
  margin-right: auto; /* Espaço entre os botões e as estações */
  /* margin-left: 18px;
  margin-top: -52%; */
  /* Você pode adicionar mais estilos, se necessário */
}

.esd-line-container {
  flex: 1; /* Permite que o contêiner de estações ocupe o restante do espaço */
  /* Outros estilos conforme necessário */
}


.esd-line-container {
  /* border: solid green 2px !important;  */
  display: flex;
  flex-wrap: wrap; /* Permite que as estações se reorganizem em várias linhas */
  justify-content: center; /* Centraliza as estações */
  gap: 20px; /* Espaçamento entre as estações */
  margin-bottom: 20px; /* Margem inferior para espaçamento */
}

.station-card {
  display: flex !important;
  flex-direction: column; /* Mantenha a direção da coluna para o contêiner principal */
  align-items: center;
}

.button-for-edit {
  margin-right: -29px;
  margin-top: 225px;
}

.esd-line-container .station {
  position: relative; /* Para posicionar o radio button em relação ao elemento station */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: 150px; /* Ajuste o tamanho conforme necessário */
}

.radio-button {
  /* position: absolute;
  top: 13px !important;
  margin-left: -27px; */
  margin-left: -15px;
  
}

.add-button-container-stations {
  display: flex; 
  align-items: center;
  /* border: solid blue 2px !important;  */
}

.no-border {
  border: none;
}

.add-button-container button {
  margin-left: 10px; /* Espaçamento entre o ícone e o botão */
}

.button-container {
  display: flex; /* Para alinhar os botões em linha */
  align-items: center; /* Centraliza verticalmente */
  margin-top: 20px; /* Espaçamento superior opcional */
}

.button-container button {
  margin-left: 10px; /* Espaçamento entre o ícone e o botão */
}

button {
  padding: 10px 20px; /* Estilo do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove bordas do botão */
  border-radius: 4px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

button:disabled {
  background-color: #ccc; /* Cor de fundo para o botão desativado */
  cursor: not-allowed; /* Cursor de não permitido */
}

button:hover:not(:disabled) {
  background-color: #4caf50;; /* Cor de fundo ao passar o mouse */
}

input[type="radio"] {
  margin-left: 10px; /* Margem para o botão de seleção */
}

.delete-button {
  position: absolute; /* Permite que o botão fique no canto superior direito */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  background-color: #ff4d4f; /* Cor de fundo para o botão de excluir */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 4px; /* Arredonda os cantos */
  padding: 8px 12px; /* Estilo do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
  display: none; /* Inicialmente oculta */
}

.delete-button.show {
  display: block; /* Mostra o botão quando a classe 'show' é adicionada */
}

.delete-button:hover {
  background-color: #d93600; /* Cor ao passar o mouse */
}

input[type=radio]#Red {
  accent-color: #4caf50;
}

.container {
  background-color: white !important;
  /* border: solid blue 2px !important; */

  right: 17px;
}


.color-button{
  color: #389e0d !important;
}