.edit-modal {
  color: red;
}

.card-body {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  /* bgcolor: "background.paper"; */
  border: "2px solid #000";
  /* boxshadow: 24; */
  /* p: 4; */
}

.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }
