.gridToolbar {
  color: #41a24d !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #41a24d !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin-bottom: 0rem !important;
}

.grid-table {
  height: 1100;
  width: 1050;
}

.textOverflow {
  max-width: 60%;
  /* font-size: 20dp; */
  white-space: nowrap;                  
  overflow: hidden; /* "overflow" value must be different from "visible" */
  text-overflow:    ellipsis;
  /* border: 1px solid #ccc; */
  margin-right: 20%;
}
