.gridToolbar {
  color: #41a24d !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #41a24d !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin-bottom: 0rem !important;
}

.grid-table {
  height: 1100;
  width: 1050;
}

.operator-webcam{
  margin-right: 20px !important;
}

.textOverflow {
  max-width: 60%;
  /* font-size: 20dp; */
  white-space: nowrap;                  
  overflow: hidden; /* "overflow" value must be different from "visible" */
  text-overflow:    ellipsis;
  /* border: 1px solid #ccc; */
  margin-right: 20%;
}


.ant-modal-content {
  padding: 20px 15px !important;
}

.confirm-delete-operator-button{
  margin-left: 10px !important;
}

/* OperatorTable.css */

.site-layout {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

.operator-table-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 16px !important;
}



.operator-table-photo {
  width: 100%;
  max-width: 300px;
  margin-top: 8px;
}

.camera-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam {
  margin-bottom: 16px;
}

.input-space {
  margin-bottom: 16px;
}
