
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  height: 100px; /* Defina uma altura fixa para as células */
  width: 100px;  /* Defina uma largura fixa para as células */
  margin-bottom: -12px;
}

.status-indicators {
  display: flex;
  gap: 4px; /* Espaçamento entre os pontos */
  margin: auto; /* Distância entre os pontos e o ícone */
  justify-content: center;
}

.status-point {
  width: 10px; /* Largura do ponto */
  height: 10px; /* Altura do ponto */
  border-radius: 50%; /* Torna o ponto circular */
}


.icon-container-error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4848;
  padding: 10px;
  border-radius: 5px;
  height: 100px; /* Defina uma altura fixa para as células */
  width: 100px;  /* Defina uma largura fixa para as células */
  margin-bottom: -12px;
}

.dut-icon-success{
  margin-top: 10px;
  margin-left: 13px;
  color: #389E0D;
}

.dut-icon-error{
  margin-top: 10px;
  margin-left: 13px;
  color: #FF4848;
}

.dut-icon-default{
  margin-top: 10px;
  margin-left: 13px;
  color: #e2e1e1;
}

.computer-icon,
.add-icon {
  font-size: 7px !important;
  color: #BFBFBF;
  margin-top: 13px;
  width: 50px !important;
  height: 50px !important;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* Sombra leve ao redor dos ícones */
}

.computer-icon,
.add-icon :hover { 
  cursor: pointer;
}

.computer-icon{
  font-size: 20px !important;
  display: flex;
  align-items: center;
}
.icon-container:nth-child(6) {
  margin-right: 40px;
}

.cell-icon {
  font-size: 24px;
  margin-top: 13px;
  margin-left: 14px;
}

:where(.css-nqoqt9).ant-btn.ant-btn-round.ant-btn-sm {
  border-radius: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 10px;
}

/* .cell-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 42px;
  margin-left: 20px;
} */

/* .card-grid {
  display: flex;
  flex-direction: column;
}

.cell-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 42px;
  margin-left: 20px;
  position: relative; 
} */

.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.triangle-layout {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 200px; /* Ajuste conforme necessário */
  margin-right: 150px;
  margin-bottom: 70px;
}

.triangle-layout .top-cell {
  grid-column: 2; /* Alinha ao centro */
}

.triangle-layout .base-cell:nth-child(2) {
  grid-column: 1;
}

.triangle-layout .base-cell:nth-child(3) {
  grid-column: 2;
}

.triangle-layout .base-cell:nth-child(4) {
  grid-column: 3;
}

.icon-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-container.second-cell {
  position: relative;
}

.user-icon {
  position: absolute;
  top: -42px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: #BFBFBF;
  font-size: 24px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* Sombra leve ao redor dos ícones */
}

