.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colunas */
  grid-gap: 10px; /* Espaçamento entre as células */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  height: 100px; /* Defina uma altura fixa para as células */
  width: 100px;  /* Defina uma largura fixa para as células */
  margin-bottom: -12px;
}

.dut-icon{
  margin-left: 13px;
  color: #389E0D;
}

.computer-icon,
.add-icon {
  font-size: 5px !important;
  color: #BFBFBF;
  width: 50px !important;
  height: 50px !important;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); /* Sombra leve ao redor dos ícones */
}

.computer-icon,
.add-icon :hover {
  cursor: pointer;
}

.icon-container:nth-child(6) {
  margin-right: 40px; /* Corredor extra após a 6ª célula */
}

.cell-icon {
  margin-left: 14px;
}

