.ellipsis {
    max-width: 60%;
    /* font-size: 20dp; */
    white-space: nowrap;
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    /* border: 1px solid #ccc; */
    margin-right: 20%;
  }