.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--mui-palette-background-paper);
    box-shadow: 24px;
    padding: 16px; /* Adjust as needed */
    border-radius: 8px; /* Adjust as needed */
  }
  
  .modal-description {
    margin-top: 16px; /* Adjust as needed */
  }
  
  .modal-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
  
  .cancel-button,
  .delete-button {
    margin-top: 10px;
    margin-left: 4px;
  }
  