.gridToolbar {
  color: #41a24d !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #41a24d !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p {
  margin-bottom: 0rem !important;
}

.grid-table {
  height: 1100;
  width: 500;
}
