/* MonitorTable.css */
/* MonitorTable.css */


/* Estilo para os filtros e botão */
.filters-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters-container .MuiTextField-root {
  margin-right: 16px;
}

.filters-container #add-button {
  margin-left: auto;
}

/* MonitorTable.css */

/* Estilos para os textos baseados no status */
.status-pass {
  color: green;
  font-weight: bold;
}

.status-fail {
  color: red;
  font-weight: bold;
}

.status-pending {
  color: orange;
  font-weight: bold;
}

/* Adapte para outros status conforme necessário */


/* Estilo para o cabeçalho das ações */
.actions-header {
  text-align: center;
}

/* Estilo para o conteúdo das ações */
.actions-content {
  text-align: center;
}


/* Estilo para os campos de status */

/* Estilo para o cabeçalho das ações */
.actions-header {
  text-align: center;
}

/* Estilo para o conteúdo das ações */
.actions-content {
  text-align: center;
}



.snackbar-success .MuiAlert-root {
  background-color: #4caf50 !important; /* Cor para mensagens de sucesso */
  color: white !important;
  color: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}

.snackbar-error .MuiAlert-root {
  background-color: #f44336 !important; /* Cor para mensagens de erro */
  color: white !important;
  color: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}

/* Media query para 1200x800 */
@media (max-width: 1424px) and (min-width: 1404px) {
  .add-monitor-button {
    margin-left: 39% !important;
    border: solid green 10px !important;
  }
}

/* Media query para 1200x800 */
@media (max-width: 1404px) and (min-width: 1383px) {
  .add-monitor-button {
    margin-left: 38% !important;
    border: solid red 10px !important;
  }
}

@media (max-width: 2500px) and (min-width: 1425px) {
  .add-monitor-button {
    margin-left: 40% !important;
    border: solid purple 10px !important;
  }
}

@media (max-width: 1383px) {
  .add-monitor-button {
    display: block;
    margin-left: 32% !important;
    border: solid pink 10px !important;
  }
}

@media (max-width: 500px) {
  .add-monitor-button {
    margin-left: 40% !important;
    border: solid yellow 10px !important;
  }
}

.ellipsis {
  max-width: 60%;
  /* font-size: 20dp; */
  white-space: nowrap;
  overflow: hidden; /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
  /* border: 1px solid #ccc; */
  margin-right: 20%;
}

.textOverflow {
  max-width: 60%;
  /* font-size: 20dp; */
  white-space: nowrap !important;
  overflow: hidden !important; /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis !important;
  /* border: 1px solid #ccc !important; */
  margin-right: 20%;
}
